object, #component-container {
  height: 500px;
  width: 100%;
}
body.main-body{
  font-family: "Open Sans", sans-serif;
  height: 3000px;
  margin: 0;
  background-color: white;
  overflow: scroll;
}
#add-instance {
  position: absolute;
  left: 0;
  top: 0;
}
.lottery-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  border: 1px solid black;
  padding: 20px;
  margin: 50px;
}
.title {
  font-size: 20px;
}
#previous-winners {
  height: 132px;
  overflow-y: scroll;
  width: 100%;
  margin: 20px;
  border: 1px solid;
  padding: 10px;
  box-sizing: border-box;
}
#previous-winners .winner {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid black;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new-participant {
  height: 132px;
  width: 100%;
  box-sizing: border-box;
}
.inputs input {
  width: 48%;
}
#submit-btn {
  margin-top: 20px;
}


@media only screen and (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }
  .new-participant {
    height: unset;
  }
}